#MyPhoto {
    color: #f7b157
}

.main-myPhotos {
    margin: 100px 15% 100px 12%;
    width: calc(80%);
    min-width: 500px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 20px;
    overflow: hidden;
}

.box-body-myItem{
    line-height: 150%;
    width: calc(100%);
    min-width: 450px;
    padding-top: 6px;
    padding-left: 20px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.box-body-photoNum {
    line-height: 150%;
    width: calc(100%);
    min-width: 450px;
    padding-top: 6px;
    padding-left: 20px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

#hint {
    display: none;
}

.picDisplayBox-detail {
    margin: 5px 25px 5px 30px;
    width: 200px;
    height: 160px;
    position: relative;
    display: inline-block;
    left: 10px;
    border-radius: 0.5rem;
    border: 1px solid rgba(36, 37, 38, 0.08);
    overflow: hidden;
}

/*通过top调整位置美化页面布局*/
.picDisplayBox-item {
    position: relative;
    top: -15px;
    width: 60%;
    display: inline-block;
}

.picDisplayBox-item p{
    margin: 0 10px;
    font-size: 14px;
    text-align: initial;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.box-body-Btn {
    margin: 5px 0 10px 10px;
}

button{
    color: #ffffff;
    border: none;
    border-radius: 0.2em;
    position: relative;
    height: 30px;
    width: 60px;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    transition: box-shadow 0.25s ease;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 微软雅黑, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 2.5px;
}

.modifyBtn {
    background-color: #3583fb;
}

.deleteBtn {
    background-color: #d14e55;
}

.modifyBtn:hover {
    box-shadow: 0 1px 3px rgba(185, 185, 185, 0.5);
    color: #3583fb;
    font-weight: bolder;
    background-color: #dddddd;
}

.deleteBtn:hover {
    box-shadow: 0 1px 3px rgba(185, 185, 185, 0.5);
    color: #d14e55;
    font-weight: bolder;
    background-color: #dddddd;
}

.turnPage {
    text-align: center;
    color: #333333;
    font-size: 14px;
    margin-top: 10px;
}

.turnPage .activePage {
    color: #f7b157;
}

.turnPage {
    cursor: default;
}

.turnPage span {
    cursor: pointer;
}

#prevPage {
    cursor: pointer;
}

#nextPage {
    cursor: pointer;
}